
.btn {
  height:5%;
  float:right;
  padding-right:1%;
}
.button  {
  height:2%;
  font-size: 15vw;
  border-radius:5%;
  background-color: white;
  color: black;
  padding-bottom:2%;
}

.text
{
    padding-bottom:6%;
    padding-left:3%;
    text-align: justify;
    word-break: break-all;

}
.todo-list
{
  width:100%;
}