<div class='main'>
  <div class="login-page">
    <mat-card *ngIf='!email'>
      <form [formGroup]='rForm' (ngSubmit)='save(rForm)'>
            <div class="heading">Login</div>
              <div class="form-field-full">

                <mat-form-field>
                  <input  matInput name="email" formControlName='email' type="email" placeholder="Email" required>
                </mat-form-field>
              </div>
              <mat-error *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">Email is required</mat-error>

              <div class="form-field-full">
                <mat-form-field>
                  <input type="password" name="password" formControlName='password' matInput placeholder="Password" required>
                </mat-form-field>
              </div>
              <mat-error *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">Password is required</mat-error>
              <div class="register">  <a routerLink="./register" routerLinkActive="active">SignUp</a></div>
              <div class="submit-wrapper">
                <button type="submit" mat-raised-button color="primary">
                  Submit
                </button>
              </div>
        </form>
      </mat-card>
    </div>
</div>
