<div class="info">
        <img src={{member.picture.large}}>
    <div class="name">
           <b>Name:</b> {{member.name.first}}
            {{member.name.last}}    
    </div>            
    <div class="email">
            <b>Email:</b>     
            {{member.email}}
     </div>            
       <div class="cell"><b>Cell:</b>{{member.cell}}</div>
     <div class="phone"><b>Phone:</b>{{member.phone}}</div>
 <div class="address"><b>Address:</b> {{member.location.street}},
        {{member.location.city}},
        {{member.location.state}}    
  </div>
       
</div>
